/* Universal */
:root {
    --primary-dark: #0D3312;
    --primary: #2F5C35;
    --primary-light: #ADDBB3;
    --background-color: #aedbb3;
    --off-white: f7f7f7;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: var(--background-color);
}

.container {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

/* Utilities */

.hidden {
    display: none;
}

.shadow {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

/* Typography */

h1, h2 {
    color: var(--primary);
    text-transform: capitalize;
}

/* Form */

.form-group {
    margin: 1rem;
}

.form-group label {
    display: block;
    color: black;
    margin-bottom: 0.5rem;
    text-transform: capitalize;
}

.form-group input {
    width: 100%;
}

input[type="text"] {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid var(--primary-dark);
    border-radius: 15px;
    outline: none;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    border-color: var(--primary-light);
}

/* Components */

.back-button:hover {
    background-color: white;
    border-radius: 50px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    margin-bottom: 3rem;
}

header::after {
    content: "";
    display: block;
}


.btn {
    background: var(--primary );
    border: none;
    color: white;
    margin: 0 1rem;
    padding: 0.8rem 1rem; /* Button size */
    font-size: 0.8rem; /* Readable font size */
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

button:hover {
    /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);*/
}

/* On Tab size screen */
@media (min-width: 768px) {
    .container {
        margin: 0 4rem;
    }
}